<html>
    <head>
    {% comment %} <script>alert("Hey")</script> {% endcomment %}
        <title>
            Entry Register 
        </title>
    </head>
    <body>

        <h1>Welcome </h1>
        <h2>Guest Entry :<button 
                class="btn btn-primary btn-lg border rounded" onclick="location.href='{% url "guest_entry" %}'" 
                type="button">Guest Log!&nbsp;&nbsp;</button>
        </h2>
        <h2>Employee  Availability :<button 
                class="btn btn-primary btn-lg border rounded" onclick="location.href='{% url "employee_log" %}'" 
                type="button">Employee Check!&nbsp;&nbsp;</button>
        </h2>
        <h2>Guest In Office/Checkout :<button 
                class="btn btn-primary btn-lg border rounded" onclick="location.href='{% url "all_guest" %}'" 
                type="button">Guest Log!&nbsp;&nbsp;</button>
        </h2>
        <h2>Employee Bulk Data Upload :<button 
                class="btn btn-primary btn-lg border rounded" onclick="location.href='{% url "employee_data" %}'" 
                type="button">Guest Log!&nbsp;&nbsp;</button>
        </h2>
        <h2>All Guest Log :<button 
                class="btn btn-primary btn-lg border rounded" onclick="location.href='{% url "log" %}'" 
                type="button">Guest Log!&nbsp;&nbsp;</button>
        </h2>
        {% comment %} <p>Pages (HTML)</p>
        <p>Style Sheets (CSS)</p>
        <p>Computer Code (JavaScript)</p>
        <p>Live Data (Files and Databases)</p> {% endcomment %}

    </body>
</html>